<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?cache_id={{ cache_id }}">
  <!-- Add other <link> tags with the cache_id as query string -->
</head>
<body>
  <div>
    <section class="states">
      <div class="state_list">
        <ul>
          {% for state in states %}
          <li>
            <h2>{{ state[0].name }}:</h2>
            <ul>
              {% for city in state[1] %}
              <li>{{ city.name }}</li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    <div class="amenities">
      <h3>Amenities</h3>
      <h4>&nbsp;</h4>
      <div class="popover">
        <ul>
          {% for amenity in amenities %}
          <li>{{ amenity.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <button type="button">Search</button>
    <div class="placesh1"><h1>Places</h1></div>
    <section class="places">
      {% for place in places %}
      <article>
        <div class="title_box">
          <h2>{{ place.name }}</h2>
          <div class="price_by_night">${{ place.price_by_night }}</div>
        </div>
        <div class="information">
          <div class="max_guest">{{ place.max_guest }} Guest{% if place.max_guest != 1 %}s{% endif %}</div>
          <div class="number_rooms">{{ place.number_rooms }} Bedroom{% if place.number_rooms != 1 %}s{% endif %}</div>
          <div class="number_bathrooms">{{ place.number_bathrooms }} Bathroom{% if place.number_bathrooms != 1 %}s{% endif %}</div>
        </div>
        <div class="user">
          <b>Owner:</b> {{ place.user.first_name }} {{ place.user.last_name }}
        </div>
        <div class="description">
          {{ place.description | safe }}
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
  <footer>
    <p>Holberton School</p>
  </footer>
</body>
</html>

